@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet"');

.BarCode {    
    position: relative;
    display: flex;
    justify-content: center;

    & .link {
        cursor: pointer;
        font-family: 'Libre Barcode 39 Text', cursive;
        font-size: 40px;
        background: none;
        border: none;
        text-decoration: none;
        color: black;
    
        &:before {
            content: '';
            position: absolute;
            height: 5px;
            transform: translateX(-3px) translateY(-5px);
            background: rgba(255,0,0,0.0);
            transition: 500ms;
        }
        
        &:visited {
            color: black;
        }
    }
}
